:root{
    /* Colors */
    --primary-color: #1e306e;
    --black-color:#000;
    --sales-color:#cb372a;
    --white-color:#FFFFFF;
    
    /* Opacity */
    --opactiy-on-hover:0.7;

    /* Font Families */
    --font-caliblight: "Caliblight", sans-serif;
    --font-tertiary: "SuisseIntl", sans-serif;
    --font-calibmedium: "Calibmedium", sans-serif;
    --font-calibregular: "Calibregular", sans-serif;
    --font-newkansaslight: "NewKansasLight", sans-serif;
    --font-newkansasregular: "NewKansasRegular", sans-serif;

    /* Maximum Width */
    --mobile-small-width:280px;
    --max-mobile-width:335.2px;
    --max-tablet-width:704px;
    --max-laptop-width:928px;
    --max-laptop-large-width:1344px;
    --four-k-max-width:1600px;



    

    /* Gaps */
    /* Spacing */
    /* Padding */
}